/*General*/
/*site body*/
body {
  background-color: #a6a3ff;
  color: #999;
  font-family: 'Lora', serif;
}
#wrapper {
  max-width: 940px;
  padding: 0 5%;
  margin: 0 auto;
  color: #f12068; 
}
a {
  text-decoration:none;
  color: blue;
}
img {
  max-width:100%
}
h3 {
  margin: 0 0 1em 0;
}
/*Heading*/
#logo
{
  text-align: center;
  margin: 0 auto;
}
header {
  float: left;
  margin: 0 0 30px 0;
  padding: 5px 0 0 0;
  width: 100%;
  background:#c9d9cf;
  border-color:black;
  text-align:center; 
}
h1, h2 {
  color: #f12068;
  margin: 15px 0;
  font-size: 2.75em;
  font-weight: normal;
  line-height: 0.8 em;
  font-family: 'Arima Madurai', cursive;
} 
/*Navigation*/
nav
{
  text-align:center;
  padding:10px 0;
  margin: 20px 0 0;
  color: blue;
  background-color: lavender;
}
nav ul {
  list-style: none;
  margin: 0 10px;
  padding: 0;
}
nav li {
  display: inline-block;
}
nav a {
  color: #ff294a;
  font-weight:500;
  padding: 15px 10px;
}
a:hover {
  background-color: white;
}
nav a.selected {
  color: #999;
}

/************************
Portfolio Page
*************************/
#gallery {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}
#gallery li {
  float: left;
  width: 45%;
  margin: 2.5%;
  background-color: #e4e9fb;
}
#gallery li a p {
  margin: 0;
  padding: 5%;
  font-size: 0.75em;
  color: #105775;
}
#gallery li a p:hover {
  color: white;
}
/*About*/
.profile-picture {
  display: block;
  max-width: 150px;
  margin: 0 auto 30px;
  border-radius: 10%;
    
}
/**********************************
PAGE: CONTACT
***********************************/
.contact-info {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0.9em;
}
.contact-info a {
  display: block;
  min-height: 20px;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  padding: 0 0 0 30px;
  margin: 0 0 10px;
}
.contact-info li.phone a {
  background-image: url('../img/phone.png');
}
.contact-info li.mail a {
  background-image: url('../img/mail.png');
}
.contact-info li.twitter a {
  background-image: url('../img/twitter.png');
}

/*Footer*/
footer  {
  border-color:#999;
  font-size: 0.75 em;
  padding-top: 50px;
  color: #000;
  text-align:center; 
  clear: both;
}
.social-icon {
  width: 20px;
  height: 20px;
  margin: 0 5px;
}
/*Lightbox*/
#overlay {
  background:rgba(0,0,0,0.7);
  width:100%;
  height:100%;
  position:fixed;
  top:0;
  left:0;
  display:none;
  text-align: center;
}
#overlay img {
  margin-top: 5%;
  width: 60%;
  height: 70%;
}
#overlay p {
  color: white;
}
